
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mission_WarRelief</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

         <!-- Favicon -->
         <link href="img/favicon.ico" rel="icon">

         <!-- Google Font -->
         <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" >
         
         <!-- CSS Libraries -->
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
         <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" >
         <link href="lib/flaticon/font/flaticon.css" >
         <link href="lib/animate/animate.min.css" >
         <link href="lib/owlcarousel/assets/owl.carousel.min.css" >
 
         <!-- Template Stylesheet -->
         <link href="css/style.css" >
        <link href="/src/assets/img/favicon.ico" rel="icon" />
    
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"  />
            
            <!-- CSS Libraries -->
            
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"  />
          
            <!-- Template Stylesheet -->
            <link href="./src/assets/css/style.css" />
        <script src="./src/assets/js/main.js"></script>
        
    </head>
    <body>
 
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                   
                    <div class="col-12">
                       
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="row">
                        <div class="section-header text-center">
                            <p>Learn About Us</p>
                            <h2>Worldwide non-profit charity organization</h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                
                                <li class="nav-item">
                                    <a class="nav-link active" >Mission</a>
                                </li>
                                
                            </ul>

                            <div class="tab-content">
                                <img style="margin-left: 5px;" src="./assets/img/46.jpg" alt="Snow" style="width:50%">
                            <br/><br/>
                                <div id="tab-content-1" class="container tab-pane active text-center">
                                    <h2>‘’Protect the lives and dignity of victims of armed conflict and other situations of violence and provide them with assistance’’</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
        <!-- About End -->
        <div class="row">
            <div class="section-header text-center">
              
                <h2>Non-Profit Charity Worldwide</h2>
            </div>
        </div>
        <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 ">
            <img src="./assets/img/ur30.jpg" alt="Snow" style="width:100%">
          </div>
          <div class="col-lg-4">
            <img src="./assets/img/war3.jpg" alt="Forest" style="width:100%">
          </div>
          <div class="col-lg-4">
            <img src="./assets/img/ur39.jpg" alt="Mountains" style="width:100%">
          </div>
        </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="row">
                    <div class="section-header text-center">
                        <p>Learn About Us</p>
                        <h2>Worldwide non-profit charity organization</h2>
                    </div>
                    <div class="about-tab">
                        <div class="tab-content">
                            <img style="margin-left: 5px;" src="./assets/img/donate.webp" alt="Snow" style="width:40%">
                            <div id="tab-content-1" class="container tab-pane active">
                               <h2> The WarRelief Foundation was incorporated in August 2022, with the intention of creating long-term avenues for the financial independence of all war personnel of the Army, Navy and 
                                Air Force. There is nearly 40,000 war-disabled personnel in our country, scattered in different parts of India. On account of the heavy involvement of the defense forces, 
                                especially the Army, in major counter–insurgent and counter-terrorist operations in many parts of the country, there is a constant addition to the number of such personnel. 
                                The war disabled hail from all states and union territories. The work of the WarRelief Foundation is thus on an all-India basis.
                                The WarRelief Foundation has been set up as an autonomous organization to assist war-wounded personnel in leading useful & productive lives and becoming financially independent.
                            </h2>
                            </div>
 
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="row">
                            <div class="section-header text-center">
                                <p>Learn About Us</p>
                                <h2>Our AIM</h2>
                            </div>
                            <div class="about-tab">
                                <ul class="nav nav-pills nav-justified">
                                    
                                    <li class="nav-item">
                                        <a class="nav-link active" ></a>
                                    </li>
                                    
                                </ul>
    
                                <div class="tab-content">
                                    <img style="margin-left: 5px;" src="./assets/img/44.jpg" alt="Snow" style="width:40%">
                                <br/><br/>
                                    <div id="tab-content-1" class="container tab-pane active text-center">
                                        <h2><p>‘’Our aim is to ensure that war disabled personnel become productive citizens by participating in the economic development of the Nation. At the same time, be able to supplement their income from pension and live with dignity by minimizing their dependence on others.‘’</p>
            </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        
                <div class="about">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="row">
                                <div class="section-header text-center">
                                    <p>Learn About Us</p>
                                    <h2>Focus</h2>
                                </div>
                                <div class="about-tab">
                                    <ul class="nav nav-pills nav-justified">
                                        
                                        <li class="nav-item">
                                            <a class="nav-link active" ></a>
                                        </li>
                                        
                                    </ul>
        
                                    <div class="tab-content">
                                        <img style="margin-left: 5px;" src="./assets/img/k1.jpg" alt="Snow" style="width:40%">
                                    <br/><br/>
                                        <div id="tab-content-1" class="container tab-pane active text-center">
                                            <h2><p>‘’ The vision of the War Wounded Foundation is to dot the countryside of the Nation with motivated confident, enterprising, diligent and honest Soldiers, who despite their disabilities continue to do their bit for nation- building and the prosperity of our nation.
                                                <br>
                                                Besides joining the mainstream of our society, these Soldiers will not only have a useful and respectable place in society, but will enjoy mental peace and motivate the youth of India.
                               ‘’</p>
                </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            
           
                    <!--Fact Start-->
            <div class="facts" data-image-src="./assets/img/k2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-home"></i>
                            <div class="facts-text">
                                <h3>150<sup>+</sup></h3>
                                <p>Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-charity"></i>
                            <div class="facts-text">
                                <h3>400<sup>+</sup></h3>
                                <p>Volunteers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-kindness"></i>
                            <div class="facts-text">
                                <h3 >5</h3><h3>Cr<sup>+</sup> ₹</h3>
                                <p>Our Goal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-donation"></i>
                            <div class="facts-text">
                                <h3>3</h3><h3>Cr<sup>+</sup> ₹</h3>
                                <p>Raised</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->



        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 Street, New Delhi, India</p>
                            <p><i class="fa fa-phone-alt"></i>1800-3999-3999</p>
                            <p><i class="fa fa-envelope"></i>info@missionwarrelief.com</p>
                   
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="memberlogin">Member Login</a>
                            <a href="/volunteer">Volunteer</a>
                            <a href="/donor">Donor</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
       
        <!-- Footer End -->
      
    </body>
</html>
