
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mission Warrelief</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" >
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" >
        <link href="lib/flaticon/font/flaticon.css" >
        <link href="lib/animate/animate.min.css" >
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" >

        <!-- Template Stylesheet -->
        <link href="css/style.css" >
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <p>1800-3999-3999</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>info@missionwarrelief.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="top-bar-right">
                             <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
       
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Member Login</h2>
                    </div>
                    <div class="col-12">
                        
                        <a href="">Member</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Member Start -->
             <div class="container">
            <div class="volunteer" data-parallax="scroll" data-image-src="./assets/img/50.jpg">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form [formGroup]="loginForm"(ngSubmit)="loginCheck()">
                           
                                <div class="control-group">
                                    <input type="text"   class="form-control" formControlName="contact" name="contact" id="contact" placeholder="Member Contact"  />
                                    <span *ngIf="loginForm.controls['contact'].touched && !loginForm.controls['contact'].valid" >
                                        <span *ngIf="loginForm.controls['contact'].hasError('required')">
                                              Member contact is required !
                                        </span>
                                        <span *ngIf="loginForm.controls['contact'].hasError('minlength')">
                                          Member contact should be minimum 10 characters !
                                        </span>
                                        <span *ngIf="loginForm.controls['contact'].hasError('maxlength')">
                                          Member contact should be maximum 10 characters !
                                        </span>
                                    </span>    
                                </div>
                               
                    
              
                                <div class="control-group">
                                    <input type="password"  
                                    class="form-control" 
                                    formControlName="fullname"
                                     name="fullname" 
                                     id="fullname"
                                      placeholder="Member Password"  />
                                
                                    <span *ngIf="loginForm.controls['fullname'].touched && !loginForm.controls['fullname'].valid" >
                                        <span *ngIf="loginForm.controls['fullname'].hasError('required')">
                                              Member Password is required !
                                        </span>
                                        <span *ngIf="loginForm.controls['fullname'].hasError('minlength')">
                                          Member Password should be minimum 4 characters !
                                        </span>
                                        <span *ngIf="loginForm.controls['fullname'].hasError('maxlength')">
                                            Member Password should be maximum 10 characters !
                                        </span>
                             </span> 
                               
                                </div>
                                
                                <div>
                                    <button class="btn btn-custom"  type="submit">Member Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p></p>
                                <h2>Let’s make a difference in the lives of others</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>Volunteering can be provided through the Voluntary organisations and NGO in different sectors on different issues. Volunteering can be provided with the organisations already working in the area of your interest or the Volunteers can form their own Voluntary organisation, group or forum.
                                     </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Member End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 Street,  New Delhi, India</p>
                            <p><i class="fa fa-phone-alt"></i>1800-3999-3999</p>
                            <p><i class="fa fa-envelope"></i>info@missionwarrelief.com</p>
                             <!--<div class="footer-social">
                                <a class="btn btn-custom" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-custom" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="memberlogin">Member Login</a>
                            <a href="/volunteer">Volunteer</a>
                            <a href="/donor">Donor</a>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
           
        </div>
        <!-- Footer End -->

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/parallax/parallax.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

         <!-- Template Javascript -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
    