
<h1>Admin Loin</h1>
<div class="text-center">
  <a href="viewmember">Member</a> | <a href="viewvolunteer">Volunteer</a> | <a href="viewdonor">Donor</a> | <a href="admin">Pending Request</a> | <a href="viewquery">Query</a>
</div>
<router-outlet></router-outlet>
<h2 class="text-center">Admin</h2>
<h3 class="text-center">Pending Request</h3>
<div class="container">
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>
            <th scope="col">Employement</th>
            <th scope="col">Reason</th>
           
            
          </tr>
        </thead>
        <tbody>
        <!--for loop aply like all data call-->
            <tr *ngFor="let data of memberList">
            
            <td  >{{data.id}}</td>
            <td  >{{data.fullname}}</td>
            <td  >{{data.contact}}</td>
            <td  >{{data.address}}</td>
            <td> {{data.employement}}</td>
            <td >{{data.reason}}</td>
            
            

            <td > <a routerLink="/finalmember/{{data.id}}" ><i class="fa fa-plus"  aria-hidden="true"></i></a>
               | <a><i style="color:red;" (click)="deleteMember(data.id)" class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
          
        </tbody>
      </table>
      <h1></h1>
</div>





