
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mission WarRelief</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        
         <!-- Google Font -->
         <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" >
         
         <!-- CSS Libraries -->
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
         <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" >
         <link href="lib/flaticon/font/flaticon.css" >
         <link href="lib/animate/animate.min.css" >
         <link href="/src/assets/lib/owlcarousel/assets/owl.carousel.min.css" >
 
         <!--  Stylesheet -->
         <link href="css/style.css" >
        <link href="/src/assets/img/favicon.ico" rel="icon" />
    
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"  />
            
            <!-- CSS Libraries -->
            
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"  />
          
            <!-- Template Stylesheet -->
            <link href="./src/assets/css/style.css" />
        <script src="./src/assets/js/main.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>

    <body>
       
        <div class="carousel">
            <img src="./assets/img/k2.jpg" alt="Team Image" height="600px" width="100%">
        </div>
        <!--section header-->
        <div class="service">
            <div class="container">
                <div class="section-header text-center"> 
                    <p> What We Are? </p>
                    <h2>  Mission WarRelief</h2>
                </div>
                <div class="row">
                    <div>
                        <h1 class="pp"></h1>
                        <p>
                            WarRelief was established as a charitable Non-Government Organisation (NGO) in 2022, for assisting all war-disabled military personnel to lead a financially secure and respectable life. The Foundation has taken many initiatives to assist the war-disabled personnel but on account of a number of reasons, we felt that there was a lack of knowledge about the existence of this NGO.
                        </p>                  
                        </div>
                </div>
            </div>
        </div>
       <!---->
       <!--section header-->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p> How We Help? </p>
                    <div class="text-center">
                        <h2> We can save more lifes with you</h2>
                    </div>
                   
                </div>
                <div class="row">
                    <!--website screen divided into 12 part so 3 section made divide by 4-->
                    <!--mide size screen--->
                    <!--Small side screen-->
                    <div class="col-lg-4 col-md-6">
                        <!--css class -->
                        <div class="service-item">
                            <!--css class yellow-->
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Healthy Food</h3>
                                <p>Healthy foods are those that provide you with the nutrients you need to sustain your body's well-being and retain energy. Water, carbohydrates, fat, protein, vitamins, and minerals are the key nutrients that make up a healthy, balanced diet.</p>
                            </div>
                        </div>
                    </div>
                    <!--website screen divided into 12 part so 3 section made divide by 4-->
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-water"></i>
                            </div>
                            <div class="service-text">
                                <h3>Pure Water</h3>
                                <p>Pure water, also known as purified water, is water from a source that has removed all impurities. Distilled water is the most common form of pure water. The water can be purified by carbon filtration, microporous filtration and ultraviolet oxidation. Some places use a combination of purification processes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-healthcare"></i>
                            </div>
                            <div class="service-text">
                                <h3>Health Care</h3>
                                <p>Health care or healthcare is the improvement of health via the prevention, diagnosis, treatment, amelioration, or cure of disease, illness, injury, and other physical and mental impairments in people. Health care is delivered by health professionals and allied health fields. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <!--flaticon used-->
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Primary Education</h3>
                                <p>Primary education or elementary education is typically the first stage of formal education, coming after preschool/kindergarten and before secondary school. Primary education takes place in primary schools, elementary schools, or first schools and middle schools, depending on the location.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-home"></i>
                            </div>
                            <div class="service-text">
                                <h3>Residence Facilities</h3>
                                <p>Residential facility means a facility providing a level of care that is sufficient to substitute for parental responsibility or foster care, and is beyond what is needed for assessment or treatment of an acute condition. For purposes of the compact, residential facilities do not include institutions primarily educational in character, hospitals or other medical facilities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <!--icon for website-->
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p> Social care services provide support to people with learning disabilities, physical disabilities/ilnesses and mental illnesses. This support can cover practical activities, personal care and social work, intended to help the people receiving social care to live comfortably.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        

        <!--side by side-->
    
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p> How We do? </p>
                    <div class="text-center">
                        <h2>How we help others</h2>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <p>
                            The WarRelief is a private international humanitarian organization, Wherever the conflicts occur, the WarRelief responds quickly to help people who are affected. It does that by meeting immediate material needs and ensuring that consequences of the conflict, such as disease, hunger, loss of income, and injury, do not jeopardize the livelihoods of those who are affected. Depending on the nature of the crisis, WarRelief provides help with material relief (such as medicine, food, cash, and similar) as well as repairing water supply plants or building medical facilities. In addition, the organization trains medical and other staff to be able to provide immediate assistance on the field and builds the capacities of local institutions to be able to provide essential services such as health care, sanitation, and water.
                        </p>
                        </div>
                </div>
            </div>
        </div>
      

<img src="./assets/img/ur28.jpeg" alt="Paris" style="width:50%;">


        <!-- Facts Start -->
        <!--making container-->
        <div class="facts" data-image-src="./assets/img/k2.jpg">
            <div class="container">
                <div class="row">
                    <!--large size screen 3-->
                    <div class="col-lg-3 col-md-6">
                    
                        <div class="facts-item">
                            <i class="flaticon-home"></i>
                            <div class="facts-text">
                                <h3 >150<sup>+</sup></h3>
                                <p>Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-charity"></i>
                            <div class="facts-text">
                                <h3 >400<sup>+</sup></h3>
                                <p>Volunteers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-kindness"></i>
                            <div class="facts-text">
                                <h3>5</h3><h3>Cr<sup>+</sup> ₹</h3>
                                <p>Our Goal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="flaticon-donation"></i>
                            <div class="facts-text">
                                <h3>3</h3><h3>Cr<sup>+</sup> ₹</h3>
                                <p>Raised</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->
        
  
        
        
<div class="r1">
  <div class="c1">
    <img src="./assets/img/war13.jpg" alt="Snow" style="width:100%; height: 330px;">
  </div>
  <div class="c1">
    <img src="./assets/img/ur17.webp" alt="Forest" style="width:100%">
  </div>
  <div class="c1">
    <img src="./assets/img/ur38.webp" alt="Mountains" style="width:100%">
  </div>
</div>

  

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Our Head Office</h2>
                            <p>123 Street, New Delhi, India</p>
                            <p>1800-3999-3999</p>
                            <p><i class="fa fa-envelope"></i>info@missionwarrelief.com</p>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="about">About Us</a>
                            <a href="contact">Contact Us</a>
                            <a href="memberlogin">Member Login</a>
                            <a href="/volunteer">Volunteer</a>
                            <a href="/donor">Donor</a>
                        </div>
                    </div>
                
                    </div>
                   
                </div>
            </div>
         
        
        <!-- Footer End -->
        
      
        
        <script  src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script  src="./src/assets/lib/easing/easing.min.js"></script>
        <script  src="./src/assets/lib/owlcarousel/owl.carousel.min.js"></script>
        <script  src="./src/assets/lib/waypoints/waypoints.min.js"></script>
        <script  src="./src/assets/lib/counterup/counterup.min.js"></script>
        <script  src="./src/assets/lib/parallax/parallax.min.js"></script>
        
      
        
       
        

        <!-- Template Javascript -->
        <script  src="./src/assets/js/main.js"></script>
        
      
    </body>
    </html>
   
    
    